.contacts {
}

.contacts strong {
    color: #d2d2d2;
}

.contacts ul {
    list-style: none;
    padding: 0;
}

.contacts ul li {
    margin: 10px 0;
}

.contacts a {
    color: #6ab2ff;;
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}