.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-top: 55px;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #0000007d;
}

.navbar-brand {
    text-decoration: none;
    color: white;
    padding-top: 0;
    font-size: 1.55rem;
    letter-spacing: 1.1vw;
    letter-spacing: 1.17rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 1rem;
}

.navbar-ext {

}

.navbar-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-li {
    display: inline-block;
    padding: 1vw;
    letter-spacing: 1.1vw;

    padding: 0 1vw 0 1vw;
}

.navbar-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 1.25rem;
    color: white;
}